<div class="container-fluid row p-0 m-0">
    <div class="col-9">
        <div class="row justify-content-around">
            <h5>Characters</h5>
            <div class=" card col-5 mt-3"
                *ngFor="let character of characters | paginate: { itemsPerPage: 10, currentPage: pages}">
                <div class="row">

                    <img class="card-img-left col-6 img"
                        src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{characters.name}}">

                    <div class=" card-body col-6 ">
                        <h5 class="card-title ">{{character.name}}</h5>
                        <p class="card-text">{{character.comics.items.name}}</p>


                        <button type="button" class="btn btn-danger">Comics</button>
                    </div>
                </div>
            </div>
        
                <pagination-controls (pageChange)="pages = $event"></pagination-controls>
            
        </div>

    </div>
    <div class="col-3 slider">
        <h5>Comics</h5>
    </div>
</div>